# build
/node_modules/
/dist/

# config
.editorconfig
.eslintrc
.ga
.roadhogrc.mock.js
.stylelintrc
.travis.yml
CODE_OF_CONDUCT.md
LICENSE
README.md
README.zh-CN.md
appveyor.yml
mock/
public/
tests/

# source
/src/assets/
/src/common/
/src/components/
/src/e2e/
/src/index.ejs
/src/index.js
/src/index.less
/src/layouts/
/src/models/
/src/rollbar.js
/src/router.js
/src/routes/
/src/services/
/src/theme.js
/src/utils/
